@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá Reactor</h1>
    <img src="~/img/bannerReactor.png"/>
    <p>Vamos aprender sobre ML.NET ?</p>
</div>
