@model MLNetReactor.MachineLearning.Models.SalaryPrediction

@{
    ViewData["Title"] = "Previsão Salarial";
}
<h1>@ViewData["Title"]</h1>

<h2>previsão de resultados</h2>

<div>
    <p>Predicted Salary: @Model.Prediction</p>
</div>